<div class="card my-3" style="width: 50rem;" *ngFor="let movie of movies">
  <div class="card-body">
<div class="media">
  <img src="{{ movie.image }}" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">{{ movie.title }} <small>{{ movie.year}}</small></h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>
  </div>
</div>